<form class="form mat-elevation-z8">
    <h1>Criando novo cliente</h1>
  
    <mat-form-field class="full-width">
      <mat-label>Nome</mat-label>
      <input [(ngModel)]="cliente.nome" [formControl]="nome" required name="nome" maxlength="100" matInput
        placeholder="Ex. Linus Torvalds">
      <mat-error *ngIf="nome.invalid">{{ errorValidName() }}</mat-error>
    </mat-form-field>
  
    <mat-form-field class="full-width">
      <mat-label>CPF</mat-label>
      <input [(ngModel)]="cliente.cpf" [formControl]="cpf" required name="cpf" maxlength="15" matInput
        placeholder="Ex. 000.000.000-00">
      <mat-error *ngIf="cpf.invalid">{{ errorValidCpf() }}</mat-error>
    </mat-form-field>
  
    <mat-form-field class="full-width">
      <mat-label>Telefone</mat-label>
      <input [(ngModel)]="cliente.telefone" [formControl]="telefone" required name="telefone" maxlength="18" matInput
        placeholder="Ex. (00) 90000-0000">
      <mat-error *ngIf="telefone.invalid">{{ errorValidTelefone() }}</mat-error>
    </mat-form-field>
  
    <button id="criarCliente" class="mat-elevation-z8" (click)="create()" [disabled]="errorValidName() || errorValidCpf() || errorValidTelefone()" mat-stroked-button
      color="accent">CRIAR</button>
    <button id="cancelar" class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
  
  </form>